@import url(../../assets/bootstrap/css/bootstrap.min.css);
@import url(../../assets/fontawesome/css/all.min.css);
@import url(jquery.dataTables.min.css);
@import url(dataTables.bootstrap5.min.css);

h2, h4, h5, h6{
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}  

/* Table */

.custom-table {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border: 1px rgb(207, 207, 207) solid;
  border-radius: 8px;
}

.t-header {
  display: flex;
  color: #151515;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 1px rgb(207, 207, 207) solid;
  background-color: rgb(243, 243, 243);
}

.t-data:last-of-type {
  border-bottom: none;
}

.t-body {
  display: flex;
  flex-direction: column;
}

.t-data {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-bottom: 1px rgb(207, 207, 207) solid;
}

.t-data > div > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.modal-content {
  border-radius: 0;
}